@use '@angular/material' as mat;
@import '../../../../../themes.scss';

.mat-hint {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
}

.mat-icon {
  margin-right: 5px;
}

.false {
  color: map-get($map: $angular-crud-warn, $key: 500);
}

.true {
  color: map-get($map: $angular-crud-accent, $key: 500);
}
