@import '../../shared/vars.scss';

main.main-content {
  display: flex;
  height: 88%;
  div.left-part {
    min-width: 50%;

    button.validate-button {
      background-color: $main-color;
      color: white;
    }

    form {
      display: flex;
      flex-flow: column;
      justify-content: center;
      height: 100%;
      padding: 0px 67px;

      .mat-form-field {
        margin-bottom: 1rem;
      }
    }
  }
  div.right-part {
    background-color: $main-light-color;
    display: flex;
    justify-content: center;

    img {
      max-width: 72%;
    }
  }
}
