@import '../../../themes.scss';

main {
  height: 65%;
  padding: 100px;
  background-color: map-get($map: $angular-crud-primary, $key: 50);

  .add-comment-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .mat-table {
    width: 100%;
  }

  .mat-row:nth-child(2n + 1) {
    background-color: map-get($map: $angular-crud-primary, $key: 100);
  }
}
